@font-face {
  font-family: "Bookk Myungjo";
  src: url("./BookkMyungjo/BookkMyungjo_Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Bookk Myungjo";
  src: url("./BookkMyungjo/BookkMyungjo_Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
