@font-face {
  font-family: "Noto Emoji";
  src: url("./NotoEmoji/NotoEmoji-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Noto Emoji";
  src: url("./NotoEmoji/NotoEmoji-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Noto Emoji";
  src: url("./NotoEmoji/NotoEmoji-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Noto Emoji";
  src: url("./NotoEmoji/NotoEmoji-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Noto Emoji";
  src: url("./NotoEmoji/NotoEmoji-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
