@font-face {
  font-family: "Paperlogy";
  src: url("./Paperlogy/Paperlogy-3Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Paperlogy";
  src: url("./Paperlogy/Paperlogy-7Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
