.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;

  .date-picker-wrapper {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .picker-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      display: grid;

      z-index: 1;

      &.hide {
        display: none;
      }
    }
  }

  .song-display-wrapper {
    grid-row: 2/3;
  }

  .song-info-wrapper {
    grid-row: 3/4;
  }
}
