@import url(./fonts/BookkMyungjo.css);
@import url(./fonts/Paperlogy.css);
@import url(./fonts/NotoEmoji.css);
@import url(./fonts/NotoColorEmoji.css);
@import url(./fonts/PretendardVariable-JP.css);
@import url(./fonts/AbrilFatface.css);
